<div class="container">
  <div class="row pt-3">
    <div class="col-6">
      <h4>Student Portal</h4>
    </div>
    <div class="col-6 text-end">
      <button class=" btn btn-outline-success">Add new</button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-6">
              Student name
            </div>
            <div class="col-6 text-end">
              Mobile no
            </div>
          </div>
        </div>
        <div class="card-body">
          <p>City, State, Pincode</p>
          <p>Address</p>
        </div>
        <div class="card-footer text-center">
          <p>Email</p>

        </div>
      </div>
    </div>
  </div>
</div>